{#
Copyright 2022 The PyAthena authors

Licensed under the MIT License.
See LICENSE or https://opensource.org/licenses/MIT.

SPDX-License-Identifier: MIT
#}

DROP DATABASE IF EXISTS {{ schema }} CASCADE;
CREATE DATABASE IF NOT EXISTS {{ schema }};
